body {
    text-align: center;
}

/* .title {
   
    padding-top: 1rem;
} */

.container {
    display: flex;
    
}

.rightCheek {
    flex: 1;
    padding: 1rem;
    
}

.leftCheek {
    flex: 1;
    padding: 1rem;
    
}