.componentCard{
    margin: 100px;
}

.label {
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
}

.labelv2 {
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
}
.labelv3 {
    padding-top: 0px;
    font-size: 25px;
    font-weight: bold;
}

.table {
    margin: 0 auto; 
    padding: 15px;
    padding-top: 0px;
    border: 2px solid black;
    text-align: center;
    border-radius: 3%;
}

.card {
    margin: 0 auto; 
    padding: 15px;
    border: 2px solid black;
    text-align: center;
    border-radius: 3%;
    width: 400px;
    height: 200px;
    background-color:#d1ebf6
}

.tableData {
    border: 1px solid black;
    text-align: center;
    border-radius: 10%;
}

.title {
    text-decoration: underline;
}

.smallLabel {
    margin: 10px;
}

.dummyCard {
    
    margin: 0 auto; 
    padding: 15px;
    border: 2px solid black;
    text-align: center;
    border-radius: 3%;
    width: 300px;
    height: 200px;
    background-color: #d1ebf6;

}

span {
    color:steelblue;
}

p {
    background-color: snow;
    color:#d1ebf6
}